#container {
    width: 60vw;
    margin: 10px auto;
    border: 1px solid black;
    text-align: center;
  }
  #header {
    width: 60vw;
    height: 3rem;
    border: 2px solid rgb(156, 156, 248);
    box-shadow: inset 2px 1px 10px 1px rgb(176, 146, 146);
    padding: 10px;
  }
  h1 {
    margin-left: 12em;
  }
  .fav-box {
    width: 60vw;
    min-height: 15rem;
    border: 2px solid rgb(156, 156, 248);
    box-shadow: inset 2px 1px 10px 1px rgb(176, 146, 146);
    padding: 15px;
  }
  .center {
    margin: 10px auto;
  }
  
  #img-box {
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    box-shadow: 1px 0px 1px 3px rgb(214, 208, 197);
    background-size: cover;
  }
  #meal-details {
    width: 98%;
    border: 1px solid red;
    margin-top: 10px;
    box-shadow: 1px 0px 1px 3px rgb(214, 208, 197);
    padding: 10px;
  
  }
  p {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(6, 137, 93);
  }
  .btn {
    width: 20rem;
    height: 3rem;
    font-size: 20px;
    font-weight: bold;
    color: rgb(105, 65, 6);
    border: 2px solid rgb(241, 171, 171);
    box-shadow: 1px 0px 1px 3px rgb(214, 208, 197);
    margin: 30px;
    border-radius: 20px;
  }
  .remove-underline {
    text-decoration: none;
    color: rgb(118, 79, 20);
  }
  .onClick{
    color: rgb(14, 164, 114);
    background-color: rgb(88, 52, 6);
    outline: slateblue solid salmon ;
    transition: 0.2s;
  }
  .go-to-home-btn:active{
    color: rgb(14, 164, 114);
    background-color: rgb(88, 52, 6);
    outline: slateblue solid salmon ;
  
  }